{% extends 'base.html'%} {% block content %}
<h2 style="text-align: center">{{request.COOKIES.name}}的購物明細</h2>
<table style="border:2px solid black;width: 70%;text-align: center;font-size: 24px;margin: 10px auto;background-color: black">
    <thead style="border:1px solid black">

    </thead>
    <tbody>
        {% regroup orders by order_number as orders_by_order_number %} {% for order_number in orders_by_order_number %}
        <tr>
            <td>收據編號:{{order_number.grouper}}</td>
        </tr>
        <tr>
            <td>購買時間:{{order_number.list.0.datetime}}</td>
        </tr>
        <tr>
                <th style="border:3px solid white;text-align: center">商品名稱</th>
                <th style="border:3px solid white;text-align: center">商品單價價格</th>
                <th style="border:3px solid white;text-align: center">商品購買數量</th>
                <th style="border:3px solid white;text-align: center">商品購買總價格</th>
            </tr>
        {% for order in order_number.list %}
        <tr>

            <td style="border:3px solid white">{{order.product_name}}</td>
            <td style="border:3px solid white">{{order.price}}</td>
            <td style="border:3px solid white">{{order.qt}}</td>
            <td style="border:3px solid white">{% widthratio order.price 1 order.qt %}</td>
        </tr>{% endfor %} {% endfor %}
    </tbody>
</table>

{% endblock %}